*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center; 
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 0 30px; 
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid; 
  grid-template-columns: 711px 399px; 
  grid-template-rows: auto;
  align-items: start;
  column-gap: 30px; /* ⬅️ вместо gap: 30px */
  row-gap: 0;       /* ⬅️ явно отключаем вертикальный gap */
  max-width: 1140px;
}

.result {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 16px;
  justify-content: end;
}

.result__video-container {
  position: relative;
  max-width: 711px;
  max-height: 386px;
}

.result__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
  padding: 0; 
  margin: 0;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 6px;
}

.search-form__label {
  display: flex;
  align-items: center; 
  gap: 5px; 
  width: fit-content;
} 

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  min-width: 225px; 
  min-height: 27px;
  padding: 2px 0 4px;
  border: none; 
  border-top: 1px solid white; 
  border-bottom: 1px solid white;
  background-color: #1b1919;
  font-family: 'Fira Sans Condensed', 'sans-serif';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: rgb(255, 255, 255);
  appearance: none;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: border-color 0.3s ease-in-out;
}

.search-form__pseudo-checkbox::after {
  cursor: pointer;
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1; 
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
}

.search-form__label:hover span {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  cursor: pointer;
  min-height: 34px;
  background-color: #1b1919;
  border: 1px solid white;
  font-family: 'Fira Sans Condensed', 'sans-serif';
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  min-width: 194px;
  margin-bottom: 3px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  text-transform: uppercase;
  font-family: 'Oswald', 'Fira Sans Condensed', 'sans-serif';
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  block-size: 298px;
  position: relative;
  margin-top: 26px;
  max-height: 298px;
  overflow: auto;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  /* padding: 3px; */
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 196px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: 50% 50%;
}

.more-button {
  margin-top: 30px;
  width: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
